@{
    ViewData["Title"] = "Random Passcode";
}

<div class="text-center">
    <p>Random passcode (passcode #@ViewBag.Count++)</p>
    <div></div>
    <button><a href="/generate">Generate</a></button>
</div>
